/* Reset Asll Element */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
label,
button,
input,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
main,
menu,
nav,
footer,
header,
hgroup,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: inherit;
    font-size: inherit;
    background: transparent;
}

main,
header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
    display: block;
}

div {
    box-sizing: border-box;
}

em,
address,
i {
    font-style: normal;
}

a {
    text-decoration: none;
    color: #222222;
}

img {
    width: 100%;
    vertical-align: top;
}

/* Form */
legend {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    margin: -0.1rem;
    padding: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
    clip-path: inset(50%);
}

select,
textarea,
input,
label {
    vertical-align: middle;
}

select,
textarea,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

input[type=search] {
    appearance: textfield;
}

input[type=checkbox],
input[type=radio] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

select:-moz-focusring {
    text-shadow: 0 0 0 #222222;
    color: transparent;
}

select::-ms-expand {
    display: none;
}

:focus {
    outline: 2px dashed blue;
}

/* Table */
table {
    border-collapse: collapse;
}

caption {
    position: absolute;
    position: initial;
    width: 0.1rem;
    height: 0.1rem;
    margin: -0.1rem;
    padding: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
    clip-path: inset(50%);
}

/* List */
ul,
ol {
    list-style: none;
}

li {
    list-style: none;
}

:root {
    font-size: 0.625rem;
    word-break: keep-all;
    word-wrap: break-word;
    color: #222222;
}